{
  "extends": "stylelint-config-standard",
  "rules": {
    # "at-rule-no-unknown": [ true, {
    #   "ignoreAtRules": [
    #     "extends",
    #     "ignores"
    #   ]
    # }],
    "color-hex-case": "upper",
    "indentation": 2,
    "number-leading-zero": null,
    "unit-whitelist": ['px', '%', 'rem', 'ms', 'vh', 's', 'vw', 'fr', 'deg', 'em', 'pc', 'ex'],
    "no-descending-specificity": null,
    "selector-list-comma-newline-after": null,
    "function-comma-space-after": null,
    "block-opening-brace-space-before": null,
    "declaration-block-semicolon-newline-after": null,
    "declaration-block-trailing-semicolon": null,
    "no-eol-whitespace": null,
    "block-closing-brace-newline-before": null,
    "at-rule-no-unknown": null,
    "no-duplicate-selectors": null,
    "media-feature-colon-space-after": null,
    "declaration-colon-space-after": null,
    "declaration-block-semicolon-space-before": null,
    "declaration-block-no-duplicate-properties": null,
    "block-closing-brace-empty-line-before": null,
    "at-rule-name-space-after": null,
    "block-no-empty": null,
    "max-empty-lines": 4,
    "block-opening-brace-space-after": null,
    "block-closing-brace-space-before": null,
    "declaration-block-single-line-max-declarations": null,
    "selector-combinator-space-after": null,
    "selector-pseudo-element-colon-notation": null,
    "selector-combinator-space-before": null,
    "declaration-bang-space-before": null,
    "block-opening-brace-newline-after": null,
    "declaration-block-no-shorthand-property-overrides": null,
    "comment-whitespace-inside": null,
    "font-family-no-missing-generic-family-keyword": null,
    "block-closing-brace-newline-after": null,
    "no-extra-semicolons": null,
    "selector-type-no-unknown": null,
    "property-case": null,
    "declaration-colon-newline-after": null,
    "function-parentheses-space-inside": null,
    "property-no-unknown": null,
    "media-feature-colon-space-before": null,
    "no-empty-source": null,
    "function-whitespace-after": null,
    "media-feature-parentheses-space-inside": null,
    "declaration-colon-space-before": null,
    "value-list-comma-space-after": null
  }
}
